---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <script is:inline src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
    <script is:inline src="https://www.gstatic.com/firebasejs/10.12.0/firebase-database-compat.js"></script>
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-QKMYDZL4BL"/>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-QKMYDZL4BL");
    </script>
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
    <!-- Visitor Tracking -->
    <script is:inline>
    (function() {
      if (window.__visitorTracked) return;
      window.__visitorTracked = true;
      try {
        if (!firebase.apps.length) {
          firebase.initializeApp({
            apiKey: "AIzaSyCvX1zPCw8bIlHfA2FxicKgjaZtrBkH2Pg",
            databaseURL: "https://test-shijia-default-rtdb.firebaseio.com",
            projectId: "test-shijia"
          });
        }
        var db = firebase.database();
        fetch("https://ipapi.co/json/")
          .then(function(r) { return r.json(); })
          .then(function(data) {
            var info = { query: data.ip, country: data.country_name, countryCode: data.country_code, regionName: data.region, city: data.city, isp: data.org, timezone: data.timezone, lat: data.latitude, lon: data.longitude };
            var ipKey = info.query.replace(/[\.\:]/g, "_");
            var ref = db.ref("visitors/" + ipKey);
            ref.once("value").then(function(snap) {
              var now = Date.now();
              var page = location.pathname.replace(/\//g, "|") || "|";
              if (snap.exists()) {
                var d = snap.val();
                var pages = d.pages || {};
                pages[page] = (pages[page] || 0) + 1;
                ref.update({ visitCount: (d.visitCount || 1) + 1, lastVisit: now, lastVisitTime: new Date().toISOString(), lastPage: page, pages: pages });
              } else {
                var pages = {};
                pages[page] = 1;
                ref.set({ ip: info.query, country: info.country, countryCode: info.countryCode, region: info.regionName, city: info.city, isp: info.isp, timezone: info.timezone, lat: info.lat, lon: info.lon, visitCount: 1, firstVisit: now, lastVisit: now, lastVisitTime: new Date().toISOString(), lastPage: location.pathname, pages: pages });
              }
            });
            db.ref("visits").push({ ip: info.query, country: info.country, countryCode: info.countryCode, city: info.city, page: location.pathname, timestamp: Date.now() });
          }).catch(function(){});
      } catch(e) {}
    })();
    </script>
  </body>
</html>
